    <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">

                        <p>
                        Copyright © <script>document.write( new Date().getFullYear() );</script> PRINCE | All Rights Reserved Developed By <span style="color:#ff0909;"> @ Prince Singh Rajput</span>
                        </p>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>